<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    <form action="/login" method="POST">

        <input type="hidden" name="_csrf" value="{{ _token }}">
        <input type="email" name="email" placeholder="johnsmith@example.com">
        <input type="password" name="password" placeholder="Super Duper Secret">
        <input type="submit" value="Login">

    </form>
</body>
</html>